@-moz-document url-prefix("about:") {
  :root {
    --default-font-family:
      'Noto Sans', 'Noto Sans CJK TC', 'Plangothic P1', 'Plangothic P2', 'TH-Hak',
      'Microsoft JhengHei', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --monospace-font-family:
      'Maple Mono NF', 'Maple Mono NF CN', 'Fira Code', 'Noto Sans Mono', 'Noto Sans Mono CJK TC',
      'Plangothic P1', 'Plangothic P2', 'TH-Hak', 'Microsoft YaHei Mono', monospace;
    --monospace-font-feature-settings:
      'calt', 'cv02', 'cv03', 'cv31', 'cv96', 'cv97', 'cv98', 'cv99', 'ss05', 'ss07', 'ss08', 'ss11';
  }

  :root,
  body {
    font-family: var(--default-font-family) !important;
  }
}

@-moz-document url("about:newtab") {
  :root {
    --space-xxsmall: 2px !important;
    --space-xsmall: 4px !important;
    --space-small: 8px !important;
    --space-medium: 12px !important;
    --space-large: 16px !important;
    --space-xlarge: 24px !important;
    --space-xxlarge: 32px !important;
  }

  body {
    font-family: var(--default-font-family) !important;
    background-image: none !important;
  }

  body::before,
  body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
      var(--newtab-wallpaper, ''),
      linear-gradient(
        to right,
        var(--newtab-wallpaper-color, ''),
        var(--newtab-wallpaper-color, '')
      );
    background-position: var(--newtab-wallpaper-backgroundPosition);
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  body::before {
    z-index: -2;
    background-size: cover;
    filter: blur(var(--space-xxlarge)) brightness(0.8);
    transform: scale(1.2);
  }

  body::after {
    z-index: -1;
    background-size: contain;
  }

  main {
    justify-content: end !important;
  }

  #newtab-search-text {
    background-color: color-mix(
      in srgb,
      var(--content-search-handoff-ui-background-color) 14%,
      transparent
    ) !important;
    backdrop-filter: blur(var(--border-radius-large)) !important;
    /* color: light-dark(var(--color-gray-05), var(--color-gray-100)) !important; */
  }

  .search-button {
    /* fill: color-mix(
      in srgb,
      light-dark(var(--color-gray-05), var(--color-gray-100)) 70%,
      transparent
    ) !important; */
  }

  .search-button:focus,
  .search-button:hover {
    background-color: color-mix(
      in srgb,
      var(--newtab-element-hover-color) 14%,
      transparent
    ) !important;
  }

  .top-sites-list {
    grid-template-columns: repeat(3, auto) !important;
    gap: var(--space-large) !important;
  }

  @media (min-width: 528px) {
    .top-sites-list {
      grid-template-columns: repeat(4, auto) !important;
    }
  }

  @media (min-width: 752px) {
    .top-sites-list {
      grid-template-columns: repeat(6, auto) !important;
    }
  }

  @media (min-width: 976px) {
    .top-sites-list {
      grid-template-columns: repeat(8, auto) !important;
    }
  }

  .top-sites-list .hide-for-narrow {
    display: inline-block !important;
  }

  .top-site-outer {
    width: 96px !important;
    margin-block-end: 0 !important;
  }

  .top-site-outer .top-site-inner > a {
    padding: var(--space-large) var(--space-large) var(--space-small) !important;
    backdrop-filter: blur(var(--border-radius-large)) !important;
    border-radius: var(--border-radius-large) !important;
  }

  .top-sites-list:not(.dnd-active) .top-site-outer {
    background: color-mix(in srgb, var(--button-text-color-hover) 14%, transparent) !important;
  }

  .top-sites-list:not(.dnd-active) .top-site-outer:is(.active, :focus, :hover) {
    box-shadow: 0 2px 8px 0 var(--newtab-section-card-box-shadow-color);
  }

  .top-site-outer .title {
    background: none !important;
    box-shadow: none !important;
    font-family: var(--default-font-family) !important;
    line-height: var(--space-large) !important;
  }

  .top-site-outer .tile {
    border-radius: var(--border-radius-medium) !important;
    box-shadow: none !important;
  }

  .top-sites-list:not(.dnd-active) .top-site-outer:is(.active, :focus, :hover) .tile {
    box-shadow: none !important;
  }
  .top-site-outer:hover .tile,
  .top-site-outer:focus .tile {
    background-color: var(--newtab-background-card) !important;
  }

  .top-site-outer .tile .icon-wrapper {
    width: 64px !important;
    height: 64px !important;
    border-radius: var(--border-radius-medium) !important;
  }

  .top-site-outer .tile .top-site-icon {
    border-radius: var(--border-radius-medium) !important;
  }

  .top-site-outer .tile .top-site-icon.default-icon {
    background-size: 32px !important;
    height: 32px !important;
    width: 32px !important;
    border-radius: var(--border-radius-small) !important;
  }

  .top-site-outer .icon-pin-small {
    height: var(--space-large) !important;
    width: var(--space-large) !important;
    inset-block-start: var(--space-xsmall) !important;
    inset-inline-start: var(--space-xsmall) !important;
  }

  .top-site-outer .context-menu-button {
    height: var(--space-large) !important;
    width: var(--space-large) !important;
    inset-block-start: var(--space-xsmall) !important;
    inset-inline-end: var(--space-xsmall) !important;
    border-radius: var(--space-small) !important;
  }

  .top-site-outer .context-menu {
    inset-block-start: calc(var(--space-large) + var(--space-xlarge));
  }

  .context-menu {
    background-color: color-mix(
      in srgb,
      var(--newtab-background-color-secondary) 86%,
      transparent
    ) !important;
    backdrop-filter: blur(var(--border-radius-large)) !important;
  }

  .personalize-button {
    background-color: color-mix(
      in srgb,
      var(--newtab-weather-background-color) 86%,
      transparent
    ) !important;
    backdrop-filter: blur(var(--border-radius-large)) !important;
  }

  .customize-menu-animate-wrapper {
    background-color: color-mix(
      in srgb,
      var(--newtab-background-color-secondary) 86%,
      transparent
    ) !important;
    backdrop-filter: blur(var(--border-radius-large)) !important;
  }

  .customize-menu .close-button-wrapper {
    background-color: unset !important;
  }
}

@-moz-document url("about:config") {
  #about-config-search,
  table#prefs th,
  table#prefs td.cell-value > span,
  table#prefs td.cell-value > #form-edit > input {
    font-family: var(--monospace-font-family) !important;
    font-feature-settings: var(--monospace-font-feature-settings) !important;
  }
}

@-moz-document url-prefix("chrome://devtools")
{
  :root[platform='mac'],
  :root[platform='win'],
  :root[platform='linux'] {
    --monospace-font-family:
      'Maple Mono NF', 'Maple Mono NF CN', 'Fira Code', 'Noto Sans Mono', 'Noto Sans Mono CJK TC',
      'Plangothic P1', 'Plangothic P2', 'TH-Hak', 'Microsoft YaHei Mono', monospace !important;
  }

  :root {
    --monospace-font-feature-settings:
      'calt', 'cv02', 'cv03', 'cv31', 'cv96', 'cv97', 'cv98', 'cv99', 'ss05', 'ss07', 'ss08', 'ss11';
    --theme-code-font-size: 12px;
  }

  .devtools-monospace {
    font-feature-settings: var(--monospace-font-feature-settings);
  }
}
